# Exclude repository & non-distribution files from GitHub ZIP downloads
/.github                export-ignore
/.github/**             export-ignore
/.wp-org                export-ignore
/.wp-org/**             export-ignore
/.gitignore             export-ignore
/.gitattributes         export-ignore
/gitattributes.txt      export-ignore
/.distignore            export-ignore
/distignore.txt         export-ignore
/README.md              export-ignore
/LICENSE                export-ignore

# Local & OS Files
.DS_Store               export-ignore
Thumbs.db               export-ignore
.vscode                 export-ignore

# Dependencies & Build Files
node_modules/           export-ignore
admin/node_modules/     export-ignore
admin/src/              export-ignore
admin/package.json      export-ignore
admin/package-lock.json export-ignore
package-lock.json       export-ignore
*.zip                   export-ignore
*.tar.gz                export-ignore
