.lcake-main-wrapper .lcake-tab-wraper {
    line-height: 0
}

.lcake-main-wrapper .lcake-tab-wraper.vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.lcake-main-wrapper .lcake-tab-wraper.vertical>ul {
    display: block;
    height: 100%
}

.lcake-main-wrapper .lcake-tab-wraper.vertical>.lcake-tab-nav .lcake-nav-item {
    display: block;
    width: 100%;
    margin-right: 0
}

.lcake-main-wrapper .lcake-tab-wraper.lcake-fitcontent-tab:not(.vertical) .lcake-tab-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.lcake-main-wrapper .lcake-tab-wraper.lcake-fitcontent-tab .lcake-tab-content {
    text-align: left;
    width: 100%;
    max-width: 100%
}

.lcake-main-wrapper .lcake-tab-wraper .lcake-nav-link {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.lcake-main-wrapper .lcake-tab-wraper .lcake-nav-link.right-pos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.lcake-main-wrapper .lcake-tab-wraper .lcake-nav-link .lcake-tab-icon {
    display: block
}

.lcake-main-wrapper .lcake-tab-wraper .lcake-nav-link .lcake-tab-icon svg {
    max-width: 30px;
    height: auto
}

.lcake-main-wrapper .lcake-tab-wraper .lcake-nav-link.left-pos .lcake-tab-icon {
    -ms-flex-item-align: center;
    align-self: center
}

.lcake-main-wrapper .lcake-tab-wraper .lcake-nav-link.top-pos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.lcake-main-wrapper .lcake-tab-wraper .lcake-nav-link.bottom-pos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.lcake-main-wrapper .lcake-tab-nav {
    position: relative;
    border-bottom: 0 solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 1
}

.lcake-main-wrapper .lcake-tab-nav .lcake-nav-item {
    margin-bottom: 0;
    float: none;
    display: inline-block
}

.lcake-main-wrapper .lcake-tab-nav .lcake-nav-item:not(:last-child) {
    margin-right: 10px
}

.lcake-main-wrapper .lcake-tab-nav .lcake-nav-item .lcake-nav-link {
    font-weight: 700;
    padding: 14px 35px;
    border-radius: 0;
    position: relative;
    text-align: center;
    background-color: transparent;
    border: none;
    margin: 0
}

.lcake-main-wrapper .lcake-tab-nav.lcake_tab_border_bottm .lcake-nav-item .lcake-nav-link::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #2575fc;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease
}

.lcake-main-wrapper .lcake-tab-nav.lcake_tab_border_bottm .lcake-nav-item .lcake-nav-link.active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.lcake-main-wrapper .lcake-tab-nav.lcake_tooltip_style .lcake-nav-item .lcake-nav-link::before {
    position: absolute;
    content: "";
    bottom: -24px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    height: 24px;
    width: 24px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;
    background-image: -webkit-gradient(linear,left top,right bottom,from(rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,0)),color-stop(50%,#4b3fe1),to(#4b3fe1));
    background-image: linear-gradient(to bottom right,rgba(255,255,255,0) 0,rgba(255,255,255,0) 50%,#4b3fe1 50%,#4b3fe1 100%);
    z-index: -1
}

.lcake-main-wrapper .lcake-tab-nav.lcake_tooltip_style .lcake-nav-item .lcake-nav-link.active::before {
    opacity: 1;
    visibility: visible
}

.lcake-main-wrapper .lcake-tab-nav.lcake_heartbit_style .lcake-nav-item .lcake-nav-link::after,.lcake-main-wrapper .lcake-tab-nav.lcake_heartbit_style .lcake-nav-item .lcake-nav-link::before {
    position: absolute;
    content: "";
    left: 50%;
    opacity: 0;
    z-index: 1
}

.lcake-main-wrapper .lcake-tab-nav.lcake_heartbit_style .lcake-nav-item .lcake-nav-link::before {
    bottom: -1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 1px;
    background-color: #2575fc
}

.lcake-main-wrapper .lcake-tab-nav.lcake_heartbit_style .lcake-nav-item .lcake-nav-link::after {
    bottom: -5px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    height: 10px;
    width: 10px;
    background-image: linear-gradient(136deg,rgba(0,0,0,0) 50%,rgba(242,41,91,0) 50%);
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: #2575fc;
    z-index: 1
}

.lcake-main-wrapper .lcake-tab-nav.lcake_heartbit_style .lcake-nav-item .lcake-nav-link.active::after,.lcake-main-wrapper .lcake-tab-nav.lcake_heartbit_style .lcake-nav-item .lcake-nav-link.active::before {
    opacity: 1
}

.lcake-main-wrapper .lcake-tab-nav.lcake_pregress_style .lcake-nav-item .lcake-nav-link::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-image: -webkit-gradient(linear,right top,left top,from(#07b787),to(#7ed500));
    background-image: linear-gradient(270deg,#07b787 0,#7ed500 100%);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 350ms ease 350ms;
    transition: -webkit-transform 350ms ease 350ms;
    transition: transform 350ms ease 350ms;
    transition: transform 350ms ease 350ms,-webkit-transform 350ms ease 350ms;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    z-index: 1
}

.lcake-main-wrapper .lcake-tab-nav.lcake_pregress_style .lcake-nav-item .lcake-nav-link::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: -webkit-gradient(linear,right top,left top,from(#07b787),to(#7ed500));
    background-image: linear-gradient(270deg,#07b787 0,#7ed500 100%);
    border: 5px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 350ms ease 0s;
    transition: opacity 350ms ease 0s;
    z-index: 1
}

.lcake-main-wrapper .lcake-tab-nav.lcake_pregress_style .lcake-nav-item .lcake-nav-link.active::after {
    opacity: 1;
    -webkit-transition: opacity 350ms ease 350ms;
    transition: opacity 350ms ease 350ms
}

.lcake-main-wrapper .lcake-tab-nav.lcake_pregress_style .lcake-nav-item .lcake-nav-link.active::before {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: -webkit-transform 350ms ease 0s;
    transition: -webkit-transform 350ms ease 0s;
    transition: transform 350ms ease 0s;
    transition: transform 350ms ease 0s,-webkit-transform 350ms ease 0s
}

.lcake-main-wrapper .lcake-tab-nav.lcake_ribbon_style .lcake-nav-item .lcake-nav-link .lcake-tab-icon,.lcake-main-wrapper .lcake-tab-nav.lcake_ribbon_style .lcake-nav-item .lcake-nav-link .lcake-tab-title {
    position: relative;
    z-index: 11
}

.lcake-tab-title {
    line-height: 1.5rem;
}

.lcake-main-wrapper .lcake-tab-nav.lcake_ribbon_style .lcake-nav-item .lcake-nav-link::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% + 20px);
    background-image: linear-gradient(60deg,#f2709c 0,#fe8f75 100%);
    z-index: 10;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform .4s ease .4s;
    transition: -webkit-transform .4s ease .4s;
    transition: transform .4s ease .4s;
    transition: transform .4s ease .4s,-webkit-transform .4s ease .4s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: 101% auto
}

.lcake-main-wrapper .lcake-tab-nav.lcake_ribbon_style .lcake-nav-item .lcake-nav-link::after {
    position: absolute;
    content: "";
    bottom: -20px;
    right: -20px;
    width: 20px;
    height: 20px;
    z-index: 10;
    background-image: linear-gradient(-221deg,#174eac 50%,rgba(242,41,91,0) 50%);
    opacity: 0;
    -webkit-transition: opacity .4s ease .4s;
    transition: opacity .4s ease .4s
}

.lcake-main-wrapper .lcake-tab-nav.lcake_ribbon_style .lcake-nav-item .lcake-nav-link.active::after {
    opacity: 1;
    -webkit-transition: opacity .4s ease .4s;
    transition: opacity .4s ease .4s
}

.lcake-main-wrapper .lcake-tab-nav.lcake_ribbon_style .lcake-nav-item .lcake-nav-link.active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: -webkit-transform .4s ease 0s;
    transition: -webkit-transform .4s ease 0s;
    transition: transform .4s ease 0s;
    transition: transform .4s ease 0s,-webkit-transform .4s ease 0s
}

.lcake-main-wrapper .lcake-tab-nav.lcake-fullwidth-tab>.lcake-nav-item {
    max-width: 100%;
    -ms-flex-preferred-size: 0;
    flex-basis: 0%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.lcake-main-wrapper .lcake-tab-content {
    line-height: 1.5
}

.lcake-main-wrapper .lcake-tab-content .lcake-tab-pane {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px
}

.lcake-main-wrapper .tab-nav-fluid {
    width: 100%;
    display: block!important;
    height: auto!important
}

.lcake-main-wrapper .lcake-nav-link {
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-tab-title-group {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto
}

.lcake-tab-pane>div>ol,.lcake-tab-pane>div>ul {
    padding-left: 18px
}

@media (min-width: 768px) {
    .lcake-tab-wraper:not(.vertical)>ul>li>a {
        white-space:nowrap
    }
}

[data-elementor-device-mode=tablet] .lcake-tab-wraper.vertical {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.animated.fadeIn {
    animation: lcakeFadeIn .9s ease-in-out;
  }
  @keyframes lcakeFadeIn { from { opacity: 0 } to { opacity: 1 } }