.lcake-main-wrapper .lcake-commentor-content>.lcake-border-hr {
    width: 40px;
    height: 2px;
    background-color: #25fc36;
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
}

.lcake-main-wrapper .lcake-commentor-content {
    padding-right: 30px;
    position: relative;
}

.lcake-main-wrapper .lcake-author-name {
    display: block;
}

.lcake-main-wrapper .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.lcake-main-wrapper .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: none;
}

.lcake-single-testimonial-slider {
    position: relative;
    padding: 20px;
}

.lcake_testimonial_style_3 .lcake-watermark-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.lcake-watermark-icon i {
    font-size: 48px;
    color: #0000001a;
}

.lcake-main-wrapper .xs-overlay {
    background-color: #00000080;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    z-index: 0;
}

.lcake-main-wrapper ul.lcake-stars {
    list-style: none;
    position: relative;
    z-index: 6;
    padding: 0;
}
.lcake-main-wrapper ul.lcake-stars li {
    display: inline-block;
}

.lcake-main-wrapper ul.lcake-stars svg {
    width: 1em;
    height: 2em;
}

.lcake-main-wrapper .lcake-testimonial-card {
    position: relative;
    padding: 200px 170px 80px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: block;
}

.lcake-main-wrapper .lcake_testimonial_style_4 .lcake-testimonial-slider-block-style{
    background-color: #fff;
    -webkit-box-shadow: 9px 11px 14px 0 rgba(0, 0, 0, .1);
    box-shadow: 9px 11px 14px 0 rgba(0, 0, 0, .1);
    padding: 30px;
    padding-left: 60px;
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 1;
}
.lcake-main-wrapper .lcake-main-swiper.style4  {
   height: 350px;
   text-align: center;
}

.lcake-main-wrapper .lcake_testimonial_style_4 .lcake-testimonial--avatar{
    margin-bottom: 20px;
}
.lcake-main-wrapper .lcake_testimonial_style_4 .lcake-testimonial--avatar img,
.lcake-main-wrapper .lcake_testimonial_style_5 .lcake-testimonial--avatar img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.lcake_testimonial_style_4 .lcake-commentor-bio {
    position: absolute;
    left: 0;
    width: 100%;
}

.lcake_testimonial_style_5 .lcake-icon-content {
    position: absolute;
    color: #2575fc33;
    bottom: 30px;
    right: 30px;
}

.lcake_testimonial_style_5 .lcake-commentor-details  {
    display: flex;
    align-items: center;
    gap: 20px;
}
.lcake_testimonial_style_6 .lcake-single-testimonial-slider  {
   text-align: center;
}

.lcake_testimonial_style_6 .lcake-commentor-bio {
    padding: 30px 0 ;
}

.lcake_testimonial_style_6 .lcake-watermark-icon {
    position: absolute;
    top: 0;
    left: 0;
}