ul.lcake-social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lcake-social-icons--horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.lcake-social-icons--vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lcake-social-icons--horizontal.align-left {
    justify-content: flex-start;
}
.lcake-social-icons--horizontal.align-center {
    justify-content: center;
}
.lcake-social-icons--horizontal.align-right {
    justify-content: flex-end;
}


/* Remove text decoration for a tags */
.elementor-widget-lcake-kit-social-icons a,
.lcake-social-icons a,
.lcake-kit-social-icons a,
.lc-header-footer-social-icons a {
    text-decoration: none !important;
}
