.lcake-better-payment .better-payment-btn,
.lcake-better-payment button[type="submit"] {
    background: #3b82f6;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}

.lcake-better-payment .better-payment-btn:hover,
.lcake-better-payment button[type="submit"]:hover {
    background: #2563eb;
}


/* Remove text decoration for a tags */
.elementor-widget-lcake-kit-better-payment a,
.lcake-better-payment a,
.lcake-kit-better-payment a,
.lc-header-footer-better-payment a {
    text-decoration: none !important;
}
