.lcake-woo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

.lcake-woo-gallery-item {
    display: block;
    border-radius: 14px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.lcake-woo-gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.lcake-woo-gallery-item:hover .lcake-woo-gallery-image {
    transform: scale(1.06);
}


/* Remove text decoration for a tags */
.elementor-widget-lcake-kit-woo-product-gallery a,
.lcake-woo-product-gallery a,
.lcake-kit-woo-product-gallery a,
.lc-header-footer-woo-product-gallery a {
    text-decoration: none !important;
}
