/* Branded Widget Badge inside Elementor editor sidebar drawer panel only */
#elementor-panel-category-lcake-page-kit .elementor-element::after,
#elementor-panel-category-lc-header-footer-kit .elementor-element::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 20px;
    background-image: url('../icons/mveous.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

#elementor-panel-category-lcake-page-kit .elementor-element,
#elementor-panel-category-lc-header-footer-kit .elementor-element {
    position: relative;
}