.lcake-woo-product-rating {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.lcake-woo-product-rating .star-rating {
    font-size: 15px;
    color: #facc15;
}

.lcake-woo-product-rating-count {
    color: #6b7280;
}


/* Remove text decoration for a tags */
.elementor-widget-lcake-kit-woo-product-rating a,
.lcake-woo-product-rating a,
.lcake-kit-woo-product-rating a,
.lc-header-footer-woo-product-rating a {
    text-decoration: none !important;
}
