.lcake-main-wrapper .lcake-pricing-tag {
    position: absolute;
    height: 100%;
    width: calc(100% + 30px);
    background-color: #666;
    top: 0;
    right: -30px;
    border-radius: 48px 0 0 48px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-pricing-tag+.lcake-pricing-price {
    color: #fff
}

.lcake-main-wrapper .lcake-single-pricing {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1
}

.lcake-main-wrapper .lcake-single-pricing.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.lcake-main-wrapper .lcake-single-pricing .pricing-bg {
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    height: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-title {
    font-size: 22px;
    margin-bottom: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-subtitle {
    color: #5a5a5a;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-header {
    margin-bottom: 25px
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-header svg {
    vertical-align: middle
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-header>i {
    font-size: 40px;
    margin-bottom: 12px
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-header>p {
    margin-top: 7px
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-header>hr {
    border-top: 2px solid #fff;
    width: 30px
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-header>img {
    margin-bottom: 45px
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-price-wraper {
    position: relative;
    margin-bottom: 15px;
    line-height: initial
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-price {
    position: relative;
    z-index: 2;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -.4px;
    display: block;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-price>sub,.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-price>sup {
    font-size: 18px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-price>sup {
    top: 0;
    left: 5px
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-price>sub {
    bottom: 0
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-content {
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-content>p {
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-btn {
    color: #fff;
    background-color: #666;
    border-radius: 25px;
    border-color: currentColor;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 41px;
    display: inline-block;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-btn.style-2 {
    border-color: #e7e7e7;
    color: #000
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-btn svg {
    max-width: 14px;
    height: auto;
    vertical-align: middle
}

.lcake-main-wrapper .lcake-single-pricing .btn-outline-primary {
    color: #2575fc
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-lists>li {
    color: #565656;
    font-size: 15px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-lists>li:hover>.lcake-pricing-list-info svg {
    fill: #81848d
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-lists>li::before {
    content: "";
    display: block
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-lists>li:not(:last-child) {
    margin-bottom: 3px
}

.lcake-main-wrapper .lcake-single-pricing .lcake-pricing-lists>li svg {
    max-width: 15px;
    vertical-align: middle
}

.lcake-main-wrapper .lcake-single-pricing .title-divider {
    position: relative
}

.lcake-main-wrapper .lcake-single-pricing .title-divider::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -30px;
    width: calc(100% + 60px);
    height: 1px;
    background-color: #e7e7e7
}

.lcake-main-wrapper .lcake-single-pricing .title-divider .lcake-pricing-title {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 45px;
    background-color: #fff
}

.lcake-main-wrapper .elementkit-pricing-icon {
    display: inline-block
}

.lcake-pricing-list-info {
    display: inline-block;
    position: relative;
    z-index: 0;
    cursor: help
}

.lcake-pricing-list-info:before {
    display: none
}

.lcake-pricing-list-info>span {
    display: none;
    position: absolute;
    top: -13px;
    left: 0;
    border-style: solid;
    border-width: 7px;
    border-color: #021343 transparent transparent;
    z-index: 1
}

.lcake-pricing-list-info.is-active>span {
    display: block
}

.lcake-pricing-list-info-content {
    position: absolute;
    left: 0;
    bottom: calc(100% + 13px);
    max-width: 280px;
    margin: 0;
    padding: 11px 20px 13px;
    color: #fff;
    background-color: #021343;
    border-radius: 6px;
    -webkit-box-shadow: 0 20px 20px rgba(0,10,38,.16);
    box-shadow: 0 20px 20px rgba(0,10,38,.16);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    z-index: 999
}

.lcake-pricing-list-info>.lcake-pricing-list-info-content {
    display: none;
    position: fixed
}