.lcake-woo-product-title {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    color: #111827;
    line-height: 1.3;
}


/* Remove text decoration for a tags */
.elementor-widget-lcake-kit-woo-product-title a,
.lcake-woo-product-title a,
.lcake-kit-woo-product-title a,
.lc-header-footer-woo-product-title a {
    text-decoration: none !important;
}
