.lcake-ninja-forms .nf-form-fields-required {
    color: #6b7280;
}

.lcake-ninja-forms .ninja-forms-field {
    border-radius: 10px;
    border-color: #e5e7eb;
}

.lcake-ninja-forms .nf-form-content input[type="submit"] {
    background: #3b82f6;
    border-radius: 10px;
    font-weight: 700;
}

.lcake-ninja-forms .nf-form-content input[type="submit"]:hover {
    background: #2563eb;
}


/* Remove text decoration for a tags */
.elementor-widget-lcake-kit-ninja-forms a,
.lcake-ninja-forms a,
.lcake-kit-ninja-forms a,
.lc-header-footer-ninja-forms a {
    text-decoration: none !important;
}
