@font-face {
  font-family: 'lcakeicons';
  src: url('../icons/font/lcakeicons.eot?25497338');
  src: url('../icons/font/lcakeicons.eot?25497338#iefix') format('embedded-opentype'),
       url('../icons/font/lcakeicons.woff2?25497338') format('woff2'),
       url('../icons/font/lcakeicons.woff?25497338') format('woff'),
       url('../icons/font/lcakeicons.ttf?25497338') format('truetype'),
       url('../icons/font/lcakeicons.svg?25497338#lcakeicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lcakeicons';
    src: url('../font/lcakeicons.svg?25497338#lcakeicons') format('svg');
  }
}
*/
[class^="lcake-icon"]:before, [class*=" lcake-icon"]:before {
  font-family: "lcakeicons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.lcake-iconth:before { content: '\e800'; } /* '' */
.lcake-iconmail:before { content: '\e801'; } /* '' */
.lcake-iconchart-bar:before { content: '\e802'; } /* '' */
.lcake-iconchart-pie-1:before { content: '\e803'; } /* '' */
.lcake-iconchart-pie-outline:before { content: '\e804'; } /* '' */
.lcake-iconchart:before { content: '\e805'; } /* '' */
.lcake-iconchart-pie-2:before { content: '\e806'; } /* '' */
.lcake-iconchart-pie-alt:before { content: '\e807'; } /* '' */
.lcake-iconchart-pie-3:before { content: '\e808'; } /* '' */
.lcake-iconcomment:before { content: '\e809'; } /* '' */
.lcake-iconchat:before { content: '\e80a'; } /* '' */
.lcake-iconchat-1:before { content: '\e80b'; } /* '' */
.lcake-iconchat-alt:before { content: '\e80c'; } /* '' */
.lcake-iconchat-2:before { content: '\e80d'; } /* '' */
.lcake-iconuser:before { content: '\e80e'; } /* '' */
.lcake-iconuser-1:before { content: '\e80f'; } /* '' */
.lcake-iconusers:before { content: '\e810'; } /* '' */
.lcake-iconuser-outline:before { content: '\e811'; } /* '' */
.lcake-iconuser-2:before { content: '\e812'; } /* '' */
.lcake-iconuser-3:before { content: '\e813'; } /* '' */
.lcake-iconuser-pair:before { content: '\e814'; } /* '' */
.lcake-iconuser-4:before { content: '\e815'; } /* '' */
.lcake-iconuser-5:before { content: '\e816'; } /* '' */
.lcake-iconlocation:before { content: '\e817'; } /* '' */
.lcake-iconlocation-1:before { content: '\e818'; } /* '' */
.lcake-iconlocation-outline:before { content: '\e819'; } /* '' */
.lcake-iconlocation-inv:before { content: '\e81a'; } /* '' */
.lcake-iconlocation-alt:before { content: '\e81b'; } /* '' */
.lcake-iconlocation-2:before { content: '\e81c'; } /* '' */
.lcake-iconquote-left:before { content: '\e81d'; } /* '' */
.lcake-iconquote-right:before { content: '\e81e'; } /* '' */
.lcake-iconquote:before { content: '\e81f'; } /* '' */
.lcake-iconquote-1:before { content: '\e820'; } /* '' */
.lcake-iconquote-left-alt:before { content: '\e821'; } /* '' */
.lcake-iconquote-right-alt:before { content: '\e822'; } /* '' */
.lcake-iconquote-circled:before { content: '\e823'; } /* '' */
.lcake-iconthumbs-up:before { content: '\e824'; } /* '' */
.lcake-iconthumbs-down:before { content: '\e825'; } /* '' */
.lcake-iconcomment-1:before { content: '\e826'; } /* '' */
.lcake-iconheadphones:before { content: '\e827'; } /* '' */
.lcake-icontruck:before { content: '\e828'; } /* '' */
.lcake-iconmegaphone:before { content: '\e829'; } /* '' */
.lcake-iconkey:before { content: '\e82a'; } /* '' */
.lcake-iconclipboard:before { content: '\e82b'; } /* '' */
.lcake-iconcredit-card:before { content: '\e82c'; } /* '' */
.lcake-iconair:before { content: '\e82d'; } /* '' */
.lcake-iconcc-nd:before { content: '\e82e'; } /* '' */
.lcake-iconstopwatch:before { content: '\e82f'; } /* '' */
.lcake-iconwristwatch:before { content: '\e830'; } /* '' */
.lcake-iconscissors-outline:before { content: '\e831'; } /* '' */
.lcake-iconbat2:before { content: '\e832'; } /* '' */
.lcake-iconinfo:before { content: '\e833'; } /* '' */
.lcake-iconrain:before { content: '\e834'; } /* '' */
.lcake-iconminefield:before { content: '\e835'; } /* '' */
.lcake-iconwordpress:before { content: '\e836'; } /* '' */
.lcake-iconminus-circled:before { content: '\e837'; } /* '' */
.lcake-icontags:before { content: '\e838'; } /* '' */
.lcake-icontag:before { content: '\e839'; } /* '' */
.lcake-iconbookmark:before { content: '\e83a'; } /* '' */
.lcake-iconindent-right:before { content: '\e83b'; } /* '' */
.lcake-iconright-dir:before { content: '\e83c'; } /* '' */
.lcake-iconright-circled:before { content: '\e83d'; } /* '' */
.lcake-iconleft-circled:before { content: '\e83e'; } /* '' */
.lcake-icondown-circled:before { content: '\e83f'; } /* '' */
.lcake-iconleft-bold:before { content: '\e840'; } /* '' */
.lcake-iconup-bold:before { content: '\e841'; } /* '' */
.lcake-icondown-bold:before { content: '\e842'; } /* '' */
.lcake-iconright-thin:before { content: '\e843'; } /* '' */
.lcake-iconup-thin:before { content: '\e844'; } /* '' */
.lcake-iconup:before { content: '\e845'; } /* '' */
.lcake-iconright:before { content: '\e846'; } /* '' */
.lcake-iconleft:before { content: '\e847'; } /* '' */
.lcake-iconto-start:before { content: '\e848'; } /* '' */
.lcake-iconfast-backward:before { content: '\e849'; } /* '' */
.lcake-iconfast-forward:before { content: '\e84a'; } /* '' */
.lcake-iconto-end:before { content: '\e84b'; } /* '' */
.lcake-iconrecord:before { content: '\e84c'; } /* '' */
.lcake-iconpause:before { content: '\e84d'; } /* '' */
.lcake-iconstop:before { content: '\e84e'; } /* '' */
.lcake-iconplay:before { content: '\e84f'; } /* '' */
.lcake-iconcloud-thunder:before { content: '\e850'; } /* '' */
.lcake-iconmoon:before { content: '\e851'; } /* '' */
.lcake-iconpaper-plane:before { content: '\e852'; } /* '' */
.lcake-iconleaf:before { content: '\e853'; } /* '' */
.lcake-iconcontrast:before { content: '\e854'; } /* '' */
.lcake-iconglobe-outline:before { content: '\e855'; } /* '' */
.lcake-iconfast-fw-outline:before { content: '\e856'; } /* '' */
.lcake-iconpause-1:before { content: '\e857'; } /* '' */
.lcake-iconpause-outline:before { content: '\e858'; } /* '' */
.lcake-iconsort-alphabet-outline:before { content: '\e859'; } /* '' */
.lcake-iconkey-outline:before { content: '\e85a'; } /* '' */
.lcake-iconplane-outline:before { content: '\e85b'; } /* '' */
.lcake-iconwifi:before { content: '\e85c'; } /* '' */
.lcake-iconsignal:before { content: '\e85d'; } /* '' */
.lcake-iconcloud:before { content: '\e85e'; } /* '' */
.lcake-iconrain-1:before { content: '\e85f'; } /* '' */
.lcake-iconemo-happy:before { content: '\e860'; } /* '' */
.lcake-iconemo-wink:before { content: '\e861'; } /* '' */
.lcake-iconemo-unhappy:before { content: '\e862'; } /* '' */
.lcake-iconemo-thumbsup:before { content: '\e863'; } /* '' */
.lcake-iconemo-surprised:before { content: '\e864'; } /* '' */
.lcake-iconemo-grin:before { content: '\e865'; } /* '' */
.lcake-iconemo-cry:before { content: '\e866'; } /* '' */
.lcake-iconheart:before { content: '\e867'; } /* '' */
.lcake-iconheart-empty:before { content: '\e868'; } /* '' */
.lcake-iconstar:before { content: '\e869'; } /* '' */
.lcake-iconpicture:before { content: '\e86a'; } /* '' */
.lcake-iconcamera-alt:before { content: '\e86b'; } /* '' */
.lcake-iconcamera:before { content: '\e86c'; } /* '' */
.lcake-iconth-list:before { content: '\e86d'; } /* '' */
.lcake-iconcalendar:before { content: '\e86e'; } /* '' */
.lcake-iconuser-delete:before { content: '\e86f'; } /* '' */
.lcake-iconchart-area-1:before { content: '\e870'; } /* '' */
.lcake-iconplay-1:before { content: '\e871'; } /* '' */
.lcake-iconstop-1:before { content: '\e872'; } /* '' */
.lcake-iconaward:before { content: '\e873'; } /* '' */
.lcake-iconheart-1:before { content: '\e874'; } /* '' */
.lcake-iconupload-cloud:before { content: '\e875'; } /* '' */
.lcake-iconbasket:before { content: '\e876'; } /* '' */
.lcake-iconzoom-out:before { content: '\e877'; } /* '' */
.lcake-iconzoom-in:before { content: '\e878'; } /* '' */
.lcake-iconleft-open:before { content: '\e879'; } /* '' */
.lcake-iconright-open:before { content: '\e87a'; } /* '' */
.lcake-iconup-open:before { content: '\e87b'; } /* '' */
.lcake-icondown-open:before { content: '\e87c'; } /* '' */
.lcake-iconok:before { content: '\e87d'; } /* '' */
.lcake-iconok-circled:before { content: '\e87e'; } /* '' */
.lcake-iconok-circled2:before { content: '\e87f'; } /* '' */
.lcake-iconlock:before { content: '\e880'; } /* '' */
.lcake-iconlock-open:before { content: '\e881'; } /* '' */
.lcake-iconvideo:before { content: '\e882'; } /* '' */
.lcake-iconhome:before { content: '\e883'; } /* '' */
.lcake-iconlink:before { content: '\e884'; } /* '' */
.lcake-iconupload:before { content: '\e885'; } /* '' */
.lcake-icondownload:before { content: '\e886'; } /* '' */
.lcake-icongplus-circled:before { content: '\f059'; } /* '' */
.lcake-iconcheck-empty:before { content: '\f096'; } /* '' */
.lcake-iconbookmark-empty:before { content: '\f097'; } /* '' */
.lcake-iconfacebook:before { content: '\f09a'; } /* '' */
.lcake-icontasks:before { content: '\f0ae'; } /* '' */
.lcake-icongplus:before { content: '\f0d5'; } /* '' */
.lcake-iconmoney:before { content: '\f0d6'; } /* '' */
.lcake-iconsort-up:before { content: '\f0de'; } /* '' */
.lcake-iconmail-alt:before { content: '\f0e0'; } /* '' */
.lcake-iconcomment-empty:before { content: '\f0e5'; } /* '' */
.lcake-iconchat-empty:before { content: '\f0e6'; } /* '' */
.lcake-iconsitemap:before { content: '\f0e8'; } /* '' */
.lcake-icondownload-cloud:before { content: '\f0ed'; } /* '' */
.lcake-iconmedkit:before { content: '\f0fa'; } /* '' */
.lcake-icondesktop:before { content: '\f108'; } /* '' */
.lcake-iconlaptop:before { content: '\f109'; } /* '' */
.lcake-iconquote-left-1:before { content: '\f10d'; } /* '' */
.lcake-iconquote-right-1:before { content: '\f10e'; } /* '' */
.lcake-iconcircle:before { content: '\f111'; } /* '' */
.lcake-iconunlink:before { content: '\f127'; } /* '' */
.lcake-iconangle-circled-left:before { content: '\f137'; } /* '' */
.lcake-iconangle-circled-right:before { content: '\f138'; } /* '' */
.lcake-iconangle-circled-up:before { content: '\f139'; } /* '' */
.lcake-iconangle-circled-down:before { content: '\f13a'; } /* '' */
.lcake-iconlock-open-alt:before { content: '\f13e'; } /* '' */
.lcake-iconminus-squared:before { content: '\f146'; } /* '' */
.lcake-iconok-squared:before { content: '\f14a'; } /* '' */
.lcake-iconpencil-squared:before { content: '\f14b'; } /* '' */
.lcake-iconthumbs-down-alt:before { content: '\f165'; } /* '' */
.lcake-iconapple:before { content: '\f179'; } /* '' */
.lcake-iconlinux:before { content: '\f17c'; } /* '' */
.lcake-iconskype:before { content: '\f17e'; } /* '' */
.lcake-iconvkontakte:before { content: '\f189'; } /* '' */
.lcake-iconweibo:before { content: '\f18a'; } /* '' */
.lcake-iconspace-shuttle:before { content: '\f197'; } /* '' */
.lcake-icondrupal:before { content: '\f1a9'; } /* '' */
.lcake-iconbuilding-filled:before { content: '\f1ad'; } /* '' */
.lcake-iconchild:before { content: '\f1ae'; } /* '' */
.lcake-iconcubes:before { content: '\f1b3'; } /* '' */
.lcake-iconcab:before { content: '\f1b9'; } /* '' */
.lcake-icontree:before { content: '\f1bb'; } /* '' */
.lcake-icondatabase:before { content: '\f1c0'; } /* '' */
.lcake-iconpaper-plane-1:before { content: '\f1d8'; } /* '' */
.lcake-iconpaper-plane-empty:before { content: '\f1d9'; } /* '' */
.lcake-iconwifi-1:before { content: '\f1eb'; } /* '' */
.lcake-iconcc-mastercard:before { content: '\f1f1'; } /* '' */
.lcake-iconbell-off-empty:before { content: '\f1f7'; } /* '' */
.lcake-icontrash:before { content: '\f1f8'; } /* '' */
.lcake-iconchart-area:before { content: '\f1fe'; } /* '' */
.lcake-iconchart-pie:before { content: '\f200'; } /* '' */
.lcake-icontoggle-on:before { content: '\f205'; } /* '' */
.lcake-iconbus:before { content: '\f207'; } /* '' */
.lcake-iconmotorcycle:before { content: '\f21c'; } /* '' */
.lcake-iconfacebook-official:before { content: '\f230'; } /* '' */
.lcake-iconbed:before { content: '\f236'; } /* '' */
.lcake-iconviacoin:before { content: '\f237'; } /* '' */
.lcake-iconhourglass:before { content: '\f254'; } /* '' */
.lcake-iconhand-scissors-o:before { content: '\f257'; } /* '' */
.lcake-iconwikipedia-w:before { content: '\f266'; } /* '' */
.lcake-iconopera:before { content: '\f26a'; } /* '' */
.lcake-iconfonticons:before { content: '\f280'; } /* '' */
.lcake-iconreddit-alien:before { content: '\f281'; } /* '' */
.lcake-iconuser-o:before { content: '\f2c0'; } /* '' */
.lcake-iconfacebook-1:before { content: '\f300'; } /* '' */
.lcake-iconfacebook-rect:before { content: '\f301'; } /* '' */
.lcake-iconfacebook-squared:before { content: '\f308'; } /* '' */
.lcake-iconlinkedin-squared:before { content: '\f30c'; } /* '' */
.lcake-iconinstagram:before { content: '\f32d'; } /* '' */
.lcake-iconskype-circled:before { content: '\f33a'; } /* '' */
.lcake-iconspinner2:before { content: '\f529'; } /* '' */
